@page
@{
    ViewData["Title"] = "Admin Portal";
}

<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <a class="btn btn-primary"
               asp-controller="Admin"
               asp-action="ViewClasses">
                View classes
            </a>
            <a class="btn btn-primary"
               asp-controller="Admin"
               asp-action="ViewUsers">
                View users
            </a>
        </div>
    </div>
</div>

